// // MEDIA QUERIES

@media (max-width: 550px) {

     .resultsContainer{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(500px, 2fr));
     }

     main {
          height: 80vh;
     }
}