// // MEDIA QUERIES

@media (max-width: 900px) {
  .headingForm {
    max-width: 90%;
  }

  main {
       height: 80vh;
  }
}

@media (max-width: 550px) {
  main {
    height: 80vh;

    .resultsContainer {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
