// App.scss

@import "setup";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// GENERAL STYLES

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

body {
  // background-color: $yellow-color;
  font-family: $base-font;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333333;
  background-color: $green-color;
  // color:$red-color;
}

header{
  background-color: $red-color;
  color: $green-color;
  height: 10vh;
  text-align: center;
  

  h1 {
    padding-top: 30px;
    font-size: 3rem;
  }
}

button {
  border: none;
  border-radius: 5px;
  background-color: $green-color;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}

// FORM STYLES

form {
  text-align: center;
  padding-top: 5rem;
  p {
    margin-bottom: 0;
  }
  label {
    margin: 1rem;
  }

  .dateInput {
    color: #797474;
    font-size: 1.5rem

  }
}

.runDuration {
  margin: 2rem;
  display: none;
}

.runDurationVisible {
  margin: 2rem;
  display: block;
}
